* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-family: "Montserrat", sans-serif;
}
body {
  background: rgb(29, 28, 22);
  background-image: url("https://www.transparenttextures.com/patterns/concrete-wall-3.png");
  padding: 0 16px;
}

.closingAreaX {
  text-align: center;
  margin-bottom: 0;
}
