.colorsMap {
  color: rgb(240, 201, 76);
  /* border-end-end-radius: 80px 80px; */
  /* border: solid 0.5px rgb(240, 201, 76); */
  border-radius: 7px;
  /* width: 15%; */
  margin: auto;
  /* position: fixed; */
  top: 8rem;
  right: 8rem;

  padding: 20px 0;
}
.colorCss {
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
  padding: 5px 30px;
}

.square1 {
  width: 15px;
  height: 15px;
  background-color: rgb(76, 72, 72);
  border-radius: 7px;
  border: solid 0.5px black;
}
.square2 {
  width: 15px;
  height: 15px;
  background-color: rgb(95, 27, 27);
  border-radius: 7px;
  border: solid 0.5px black;
}
.square3 {
  width: 15px;
  height: 15px;
  background-color: rgb(173, 171, 171);
  border-radius: 7px;
  border: solid 0.5px black;
}
h4 {
  margin-right: 10px;
}
