.container {
  display: flex;
  justify-content: space-between;
}

.createmodal {
  margin-top: 100px;
}
form.createEvent {
  margin: auto;
  width: 60%;
  background-color: rgb(36, 34, 34);
  border-radius: 10px;
  padding: 20px;
  margin-top: 20px;
  box-shadow: 0 1px 5px rgb(138, 137, 137);
  transition-duration: 0.4s;
}
.createEvent h2 {
  text-align: center;
  color: rgb(240, 201, 76);
  margin-bottom: 20px;
}
.wrap {
  display: flex;
  margin-top: 5px;
  justify-content: space-between;
}
.isDj {
  width: 30px;
}

.createEvent input {
  height: 25px;
}
.createEvent label {
  color: rgb(240, 201, 76);
  padding: 5px;
}
.createEvent .column2 label {
  margin-left: 5px;
}

.createEvent.radioInput {
  display: block;
  margin: auto;
  text-align: center;
}
textarea {
  border-radius: 7px;
  font-size: larger;
}
.showButton {
  margin: auto;
  border-radius: 20px;
  height: 40px;
  width: 100px;
  font-size: medium;
  background-color: rgb(0, 0, 0);
  color: rgb(240, 201, 76);
  transition-duration: 0.4s;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-top: 20px;
  text-align: center;
}
.showButton:hover {
  background-color: rgb(240, 201, 76);
  color: rgb(0, 0, 0);
  cursor: pointer;
}
.x {
  color: rgb(240, 201, 76);
  /* background-color: rgb(10, 8, 1); */
}
.x:hover {
  background-color: rgb(240, 201, 76);
  border-radius: 50%;
  color: rgb(10, 8, 1);
  cursor: pointer;
}
.radioDiv {
  display: flex;
  justify-content: flex-end;
}
.radioInput {
  display: flex;
  justify-content: space-around;
  margin: 0;
  padding: auto;
  width: 80%;
  margin-top: 5px;
}
.radioInput input {
  width: 5rem;
}

.createEventsButtons {
  padding: 20px;
  display: flex;
  justify-content: space-between;
}
.css-mm42gz-MuiButtonBase-root-MuiFab-root {
  background-color: rgb(240, 201, 76);
  color: rgb(10, 8, 1);
}
.addButton {
  background-color: rgb(240, 201, 76);
  color: rgb(10, 8, 1);
  border-radius: 50px;
  width: 2.5rem;
  height: 2.5rem;
  font-size: small;
  font-weight: 400;
  margin: 2px;
}
.addButton:hover {
  background-color: rgb(10, 8, 1);
  color: rgb(240, 201, 76);
  border: 3px solid rgb(240, 201, 76);
  cursor: pointer;
}
.addButton:disabled {
  background-color: rgb(170, 173, 177);
  border: 3px solid rgb(170, 173, 177);
}
.addButton:disabled:hover {
  color: black;
}
.createEventsButtons {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}
.showButtonDiv {
  margin: auto;
  text-align: center;
}
@media (max-width: 1600px) {
  .container {
    flex-direction: column;
  }
  .createEvent input {
    max-width: 300px;
    min-width: 250px;
  }
  .radioDiv {
    flex-direction: column;
  }
  .css-i4bv87-MuiSvgIcon-root {
    font-size: 4rem;
  }
}
@media (max-width: 1000px) {
  .createEvent input {
    max-width: 200px;
  }
}
@media (max-width: 870px) {
  .wrap {
    flex-direction: column;
  }
  .radioDiv {
    /* margin: auto; */
    /* align-items: baseline;
    align-content: baseline; */
    /* justify-content: space-between; */
  }
  .radioInput {
    justify-content: space-between;
  }
}

@media (max-width: 500px) {
  .createEvent input {
    margin: auto;
    max-width: 150px;
    min-width: 100px;
    margin-top: 5px;
    font-size: medium;
  }
  .createEvent label {
    font-size: medium;
    margin-top: 3px;
    text-align: center;
    margin: auto;
  }
  .createEventsButtons {
    flex-direction: column;
    margin: auto;
    align-items: center;
  }
  .addButton {
    margin-top: 15px;
  }
  .showButtonDiv {
    margin: auto;
  }
}
