.container {
  display: flex;
  justify-content: space-between;
}
form.createEvent {
  margin: auto;
  width: 90rem;
  background-color: rgb(0, 0, 0);
  /* border: 1px solid rgb(240, 201, 76); */
  border-radius: 10px;
  padding: 20px;
  margin-top: 20px;
  box-shadow: 0 1px 5px rgb(138, 137, 137);
  transition-duration: 0.4s;
}
.createEvent h2 {
  text-align: center;
  margin-bottom: 20px;
}
.wrap {
  display: flex;
  margin-top: 5px;
  justify-content: space-between;
}

.wrap input,
label {
  display: block;
}
.createEvent.radioInput {
  display: block;
  margin: auto;
  text-align: center;
}
textarea {
  border-radius: 7px;
}

.x {
  color: rgb(240, 201, 76);
  background-color: rgb(10, 8, 1);
}
.x:hover {
  background-color: rgb(240, 201, 76);
  border-radius: 50%;
  color: rgb(10, 8, 1);
  cursor: pointer;
}
.radioDiv {
}
.createEventsButtons {
  padding: 20px;
  display: flex;
  justify-content: space-between;
}
.addButton {
  background-color: rgb(240, 201, 76);
  color: rgb(10, 8, 1);
}
.addButton:hover {
  background-color: rgb(10, 8, 1);
  color: rgb(240, 201, 76);
  border: 3px solid rgb(240, 201, 76);
}
