.container {
  display: flex;
  justify-content: space-between;
}
form.editEvent {
  position: relative;
  /* height: auto; */
  width: 90rem;
  margin: 30px auto 20px auto;
  background: rgba(255, 255, 255, 0.63);
  padding: 15px;
  border-radius: 7px;
  box-shadow: 0 1px 5px rgb(138, 137, 137);
  color: rgb(240, 201, 76);
  background-color: rgb(36, 34, 34);
  /* background-image: url("https://www.transparenttextures.com/patterns/concrete-wall-3.png"); */
}
.modal {
  margin-top: 10rem;
}

.wrap {
  display: flex;
  margin-top: 5px;
}
.wrap textarea {
  /* border-radius: 10px;
  width: 100%;
  border: none;
  padding: 4px;
  outline: none; */
  /* font-size: 1.2em; */
}

form.editEvent.container.column1 .wrap input {
  /* max-width: 1rem;
  max-height: 20px;
  border-radius: 10px;
  border: solid;
  font-size: medium; */
  /* flex-grow: 1; */
  /* flex: 0 0 33.33333%; */
  /* max-width: 40%; */
}
/* form.editEvent .container .wrap label {
  color: rgb(240, 201, 76);
  flex: 0 1 100%;
  padding: 0 1rem;
} */

h3 {
  text-align: center;
}

h2 {
  text-align: center;
}

form.editEvent button {
  position: absolute;
  padding: 20px;
  right: 18px;
  bottom: -18px;
  background: rgb(0, 0, 0);
  color: rgb(240, 201, 76);
  border: none;
  border-radius: 10px;
  width: 100px;
  height: 50px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  outline: none;
  transition-duration: 0.4s;
}
form.editEvent button:hover {
  background: rgb(240, 201, 76);
  color: rgb(0, 0, 0);
  border: solid;
  border-width: 1px;
  cursor: pointer;
}
.x:hover {
  color: rgb(10, 8, 1);
  cursor: pointer;
}
