form.editEvent {
  margin: auto;
  width: 80%;
  background-color: rgb(36, 34, 34);
  border-radius: 10px;
  padding: 20px;
  margin-top: 20px;
  box-shadow: 0 1px 5px rgb(138, 137, 137);
  transition-duration: 0.4s;
}
.editEvent h2 {
  text-align: center;
  color: rgb(240, 201, 76);
  margin-bottom: 20px;
}

.editmodal {
  margin-top: 10rem;
}
.wrap input {
  height: 25px;
  width: 50%;
}
.editEvent label {
  color: rgb(240, 201, 76);
  padding: 5px;
}
.editEvent .column2 label {
  margin-left: 5px;
}

.wrap {
  display: flex;
  margin-top: 5px;
  justify-content: space-between;
}

form.editEvent button {
  right: 18px;
  bottom: -18px;
  background: rgb(0, 0, 0);
  color: rgb(240, 201, 76);
  border: solid 1px;

  border-radius: 10px;
  width: 100px;
  height: 50px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  transition-duration: 0.4s;
}
form.editEvent button:hover {
  background: rgb(240, 201, 76);
  color: rgb(0, 0, 0);
  border: solid;
  border-width: 1px;
  cursor: pointer;
}
.editEvent.x {
  color: rgb(240, 201, 76);
  background-color: rgb(10, 8, 1);
}
.x:hover {
  background-color: rgb(240, 201, 76);
  border-radius: 50%;
  color: rgb(10, 8, 1);
  cursor: pointer;
}
.editButtons {
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (max-width: 700px) {
  .wrap {
    flex-direction: column;
    margin-bottom: 10px;
  }
  .wrap input {
    width: 80%;
    margin: auto;
  }
  .wrap label {
    margin: auto;
  }
}
