.event {
  background-color: rgb(36, 34, 34);
  /*   border-color: rgb(240, 201, 76);*/
  border-radius: 7px;
  border: 1px;
  box-shadow: 0 2px 5px #72716a;
  color: rgb(240, 201, 76);
  padding: 5px;
  margin-right: 20px;

  margin-top: 10px;
}

.eventmodal {
  margin: auto;
  padding: 10px;
  width: 40%;
  max-height: 35rem;
  padding: 20px;
  box-shadow: 0 1px 5px rgb(138, 137, 137);
  transition-duration: 0.4s;
  background-color: rgb(43, 41, 41);
  color: rgb(240, 201, 76);
  margin-top: 10rem;
  border: 1px rgb(240, 201, 76);
  overflow: "scroll";
  position: absolute;
}

h1 {
  font-size: 1.1em;
  margin-bottom: 6px;
}
.Ewrap p {
  font-size: large;
}

.Ewrap label {
  font-size: large;
}
.eventmodalH3 h3 {
  margin: auto;
  text-align: center;
  margin-bottom: 20px;
}

.eventContainer {
  display: flex;
  justify-content: space-between;

  /* max-width: 70rem;
  min-width: 10rem; */
  /* border-color: rgb(240, 201, 76);
  border: 1px; */
  margin-left: 10px;
  color: rgb(240, 201, 76);
}

.reserved {
  background-color: rgb(95, 27, 27);
  /* width: 100%; */
  border-radius: 7px;
}
.share {
  margin: auto;
  /* margin-top: 10px; */
  text-align: center;
}
/* .eventmodal.eventContainer input {
  flex: 0 0 33.33333%;
  max-width: 50%;
} */
.prevContainer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-color: rgb(240, 201, 76);
  border: 1px;
}
.prevContainer h3 {
  margin-left: 10px;
}
.Ewrap {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  gap: 5px;
  margin-bottom: 10px;
}

.button1 {
  border-radius: 20px;
  border: solid 1px rgb(240, 201, 76);
  font-size: larger;
  background-color: rgb(5, 0, 0);
  color: rgb(240, 201, 76);
  transition-duration: 0.4s;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin: 5px;
  padding: 0 5px;
}
.button1:hover {
  background-color: rgb(240, 201, 76);
  color: rgb(0, 0, 0);
  cursor: pointer;
}
.closeEditAndDelete {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 5px;
}
p {
  font-size: large;
  /* text-align: center; */
}
.dateIsPass {
  background-color: rgb(173, 171, 171);
  color: black;
  border-radius: 7px;
}
.shareMessage {
  text-align: center;
  /* width: 40%; */
}

@media (max-width: 1200px) {
  .prevContainer {
    flex-direction: column;
    width: 100%;
  }
  .event {
    width: 100%;

    margin: auto;
    margin-top: 10px;
  }
  .eventContainer {
    flex-direction: column;
    font-size: small;
    margin-top: 0;
  }
  .eventContainer label {
    /* font-size: medium; */
    margin-bottom: 0px;
  }
}

@media (max-width: 1000px) {
  .event {
    width: 100%;
    margin-left: 10%;
  }

  .eventmodal {
    flex-direction: column;
    width: 60%;
    overflow: "auto";
  }
}
@media (max-width: 800px) {
  .event {
    /* width: 30%; */
    margin-left: 10%;
  }
  .center {
    margin: auto;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px;
  }
  .Ewrap {
    flex-direction: column;
  }
  .Ewrap label {
    font-size: medium;
    margin: auto;
    margin-top: 5px;
  }
  .Ewrap p {
    font-size: medium;
    margin: auto;
    margin-top: 10px;
  }

  .closeEditAndDelete {
    flex-direction: column;
  }
  .closeEditAndDelete button.button1 {
    width: 200px;
    height: 50px;
  }
  .eventContainer {
    /* flex-direction: column;
    font-size: medium; */
  }
  .eventmodal {
    /* margin-top: 10rem; */
    /* margin-bottom: -100rem; */
    /* height: auto; */
    margin-top: 5rem;
  }
}
