.eventFilter {
  padding: 0 100px;
  width: 20rem;
  background: rgb(0, 0, 0);
  color: rgb(240, 201, 76);
  padding: 1rem 1rem;
  border-radius: 14px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  display: flex;
  justify-content: center;
  text-align: center;
  margin: 20px auto;
}

.eventFilterControl {
  text-align: center;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  margin: 10px 0;
}

.eventFilter label {
  margin-bottom: 0.5rem;
}

.eventFilter select {
  font: inherit;
  padding: 0.5rem 3rem;
  border-radius: 6px;
}
@media (max-width: 800px) {
  .eventFilter {
    width: 80%;
  }
  .eventFilterControl {
    flex-direction: column;
  }
}
