header {
  width: 100%;
  background-color: rgb(0, 0, 0);
  margin: 0;
  transition-duration: 0.4s;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: space-between;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
}
header h1 {
  color: rgb(240, 201, 76);
  font-family: "McLaren", cursive;
  font-weight: 200;
  transition-duration: 0.4s;
  margin-top: 0;
  margin-right: 5px;
  font-size: 2rem;
}
header h5 {
  margin-right: 20px;
  margin-left: 20px;
}
.text {
  display: flex;
  align-items: last baseline;
}
.text p {
  margin-left: 20px;
  font-size: medium;
  color: rgb(240, 201, 76);
}

.containerImgH img {
  height: 30px;
  width: 30px;
  border-radius: 7px;
  color: rgb(240, 201, 76);
  background-color: rgb(240, 201, 76);
  margin-right: 20px;
}
.containerImgH {
  display: flex;
  align-items: center;
  padding: 10px;
  margin-top: 0px;
  /* align-items: baseline; */
}
.container3 {
  text-align: center;
  display: flex;
  align-items: last baseline;
  color: rgb(240, 201, 76);
  margin-left: 10px;
}
.container3 input {
  margin: 0 10px;
}
.container3 button {
  border-radius: 20px;
  height: 40px;
  width: 100px;
  font-size: medium;
  background-color: rgb(0, 0, 0);
  color: rgb(240, 201, 76);
  transition-duration: 0.4s;
  /* box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
  box-shadow: 0 1px 5px rgb(138, 137, 137);
  margin-right: 10px;
  margin-top: 10px;
}
.container3 button:hover {
  background-color: rgb(240, 201, 76);
  color: rgb(0, 0, 0);
  cursor: pointer;
}
.container3 input {
  width: 10rem;
  height: 25px;
  border-radius: 10px;
  border: solid 1px;
  font-size: 1.2em;
  font-family: inherit;
  padding: 10px;
}
.container3 label {
  color: rgb(240, 201, 76);
}
.container4 {
  display: flex;
}

@media (max-width: 1064px) {
  header {
    display: block;
  }
  .container3 {
    justify-content: space-around;
  }
  img {
    width: 40%;
    height: 40%;
  }
  button {
    margin-bottom: 10px;
  }
}
@media (max-width: 667px) {
  .container3 {
    display: block;
  }
  header h1 {
    font-size: 3rem;
  }
}
