.loginmodal {
  margin-top: 20rem;
  text-align: center;
}

.loginmodal form {
  /* display: block;
  background-color: rgb(0, 0, 0);
  text-align: center;
  width: 30%; */
  /* margin: 30px 0; */
  position: relative;
  width: 25%;
  margin: 30px auto 20px auto;
  background: rgba(255, 255, 255, 0.63);
  padding: 15px;
  border-radius: 7px;
  box-shadow: 0 1px 5px rgb(138, 137, 137);
  color: rgb(240, 201, 76);
  background-color: rgb(36, 34, 34);
  /* background-image: url("https://www.transparenttextures.com/patterns/concrete-wall-3.png"); */
}
.loginmodal form h1 {
  color: rgb(240, 201, 76);
  margin-bottom: 30px;
  margin-top: 20px;
  font-size: 2rem;
}
.loginmodal form input {
  height: 30px;
  margin-left: 10px;
  width: 250px;
  max-width: 250px;
  flex-grow: 0.4;
}
.loginmodal label {
  color: rgb(240, 201, 76);
  margin-left: 20px;
}
.inputlabel {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
form.inputsGroup {
  position: relative;
  width: 60rem;
  margin: 30px auto 20px auto;
}
.loginmodal form button {
  border-radius: 20px;
  height: 40px;
  width: 100px;
  font-size: medium;
  background-color: rgb(0, 0, 0);
  color: rgb(240, 201, 76);
  transition-duration: 0.4s;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-top: 20px;
}
.loginmodal form button:hover {
  background-color: rgb(240, 201, 76);
  color: rgb(0, 0, 0);
  cursor: pointer;
}
.loginmodal form p {
  margin-top: 30px;
  font-size: medium;
}
.littleButton {
  margin-top: 20px;

  border-radius: 20px;
  height: 20px;
  width: 60px;
  font-size: small;
  background-color: rgb(0, 0, 0);
  color: rgb(240, 201, 76);
  transition-duration: 0.4s;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
span {
  color: white;
}
span:hover {
  color: rgb(209, 139, 139);
  cursor: pointer;
}

@media (max-width: 800px) {
}
@media (max-width: 1500px) {
  .loginmodal form {
    width: 75%;
    padding: 15px;
    margin-top: 0;
  }
  .loginmodal {
    margin-top: 100px;
  }
  .loginmodalform input {
    width: 80%;
  }
  .inputlabel {
    flex-direction: column;
    margin-bottom: 10px;
  }
  .littleButton {
    height: 30px;
    width: 70px;
  }
  .loginmodal label {
    font-size: larger;
    margin-bottom: 20px;
  }
}
