.signupmodal {
  margin-top: 20rem;
  text-align: center;
}

.signupmodal form {
  width: 25%;
  padding: 15px;
  position: relative;
  margin: 0 auto;
  background: rgba(255, 255, 255, 0.63);
  border-radius: 7px;
  box-shadow: 0 1px 5px rgb(138, 137, 137);
  color: rgb(240, 201, 76);
  background-color: rgb(36, 34, 34);
}
.signupmodal form h1 {
  color: rgb(240, 201, 76);
  margin-bottom: 30px;
  margin-top: 20px;
  font-size: 2rem;
}
.signupmodal form input {
  min-width: 250px;
  max-width: 300px;
  align-items: baseline;
  height: 30px;
}
.signupmodal label {
  color: rgb(240, 201, 76);
  margin-left: 20px;
  text-align: left;
}
.inputlabel {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
form.inputsGroup {
  position: relative;
  width: 60rem;
  margin: 30px auto 20px auto;
}
.signupmodal form button {
  border-radius: 20px;
  height: 40px;
  width: 100px;
  font-size: medium;
  background-color: rgb(0, 0, 0);
  color: rgb(240, 201, 76);
  transition-duration: 0.4s;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-top: 20px;
  border: solid 1px rgb(240, 201, 76);
}
.signupmodal form button:hover {
  background-color: rgb(240, 201, 76);
  color: rgb(0, 0, 0);
  cursor: pointer;
}
.signupmodal form p {
  margin-top: 30px;
  font-size: medium;
}
.littleButton {
  margin-top: 20px;
  border-radius: 20px;
  height: 20px;
  width: 60px;
  font-size: small;
  background-color: rgb(0, 0, 0);
  color: rgb(240, 201, 76);
  transition-duration: 0.4s;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
@media (max-width: 1500px) {
  .signupmodal form {
    width: 75%;
    padding: 15px;
    margin-top: 0;
  }
  .signupmodal {
    margin-top: 100px;
  }
  .signupmodalform input {
    width: 80%;
  }
  .inputlabel {
    flex-direction: column;
    margin-bottom: 10px;
  }
  .signupmodal.littleButton {
    height: 30px;
    width: 70px;
  }
  .signupmodal label {
    font-size: larger;
    margin-bottom: 20px;
  }
}
