button.button1 {
  border-radius: 20px;
  height: 70px;
  width: 200px;
  font-size: larger;
  background-color: rgb(0, 0, 0);
  color: rgb(240, 201, 76);
  transition-duration: 0.4s;
  margin-top: 30px;
  box-shadow: 0 1px 5px rgb(138, 137, 137);
}
button.button1:hover {
  background-color: rgb(240, 201, 76);
  color: rgb(0, 0, 0);
  cursor: pointer;
}

.buttonContainer {
  text-align: center;
  /* display: flex; */
  /* justify-content: space-between; */
  /* width: 50%; */
  /* margin-left: 700px; */
}
.buttonContainer button {
  /* flex: 1; */
  /* position: fixed; */
  /* margin: auto; */
}
h1 {
  margin-top: 100px;
  margin-top: 40px;
  color: rgb(240, 201, 76);
}

.icons {
  text-align: center;
  margin: auto;
}

@media (max-width: 1500px) {
  button.button1:hover {
    background-color: rgb(240, 201, 76);
    color: rgb(0, 0, 0);
    cursor: pointer;
  }
}
