button.button1 {
  border-radius: 20px;
  height: 70px;
  width: 200px;
  font-size: larger;
  background-color: rgb(0, 0, 0);
  color: rgb(240, 201, 76);
  transition-duration: 0.4s;
  margin-top: 30px;
  box-shadow: 0 1px 5px rgb(138, 137, 137);
}
button.button1:hover {
  background-color: rgb(240, 201, 76);
  color: rgb(0, 0, 0);
  cursor: pointer;
}

.buttonContainer {
  text-align: center;
}
h1 {
  margin-top: 100px;
  margin-top: 40px;
  color: rgb(240, 201, 76);
}

.icons {
  text-align: center;
  margin: auto;
}
.colorsMap {
  color: rgb(240, 201, 76);
  /* border-end-end-radius: 80px 80px; */
  border: solid 1px rgb(240, 201, 76);
  border-radius: 7px;
  width: 16%;
  margin: auto;
  position: fixed;
  top: 8rem;
  right: 8rem;

  padding: 20px 0;
}
.colorCss {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 30px;
}

.square1 {
  width: 15px;
  height: 15px;
  background-color: rgb(0, 0, 0);
}
.square2 {
  width: 15px;
  height: 15px;
  background-color: rgb(95, 27, 27);
}
.square3 {
  width: 15px;
  height: 15px;
  background-color: rgb(133, 97, 97);
}
h4 {
  text-align: left;
}
